.contextMenu {
    background-color: rgba(0,0,0,.8);
    color: white;
    border: double darkgray 3px;
    border-radius: 15px 5px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.contextMinimized {
    height: 0px;
    width: 0px;
}

.contextItem {
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

    .contextItem:hover {
        background-color: rgba(255,255,255,.3);
    }

.contextItemText {
    overflow: hidden;
}

.contextItemImg {
    min-width: 10%;
    min-height: 10%;
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.contextItemLink {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}


@keyframes slideOut {
    0% {
        max-width: 0%;
        max-height: 0%;
        /*opacity: .5;*/
    }

    /*80% {
        opacity: 1;
    }*/

    100% {
        max-width: 100%;
        max-height: 100%;
        
    }
}

@keyframes slideIn {
    from {
        max-width: 100%;
        max-height: 100%;
        /*opacity: 1;*/
    }

    to {
        max-width: 0%;
        max-height: 0%;
        /*opacity: .5;*/
    }
}


.slideOut {
    animation-duration: .5s;
    animation-name: slideOut;
}

.slideIn {
    animation-duration: .25s;
    animation-name: slideIn;
}
