.GenericErrorBtn {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: solid white 1px;
    background-color: rgba(0,0,0,.2);
    font-weight: bolder;
}

    .GenericErrorBtn:hover {
        background-color: rgba(0,0,0,.3);
    }

.GenericErrorButtonContainer {
    padding: 15px;
    text-align: right;
}

.GenericErrorContainer {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 5px;
    position: fixed;
    top: 200px;
    margin: 0px;
    background-color: red;
}

.GenericErrorContainerOverlay {
    position: fixed;
    background-Color: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.GenericErrorFlag {
    display: inline-block;
    position: absolute;
    padding: 5px;
    background-color: red;
    border: solid black 1px;
    color: white;
    border-radius: 10px;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 100;
}

/*._custErrorContainer{
    background-color: white;
}*/