.g{
    display:inline-block;
    vertical-align: top;
}

.tf{
    font-size: 3em;
}

.c {
    text-align: center;
}

.np { /*no padding*/
    padding: 0px;
}

.nm {/*no margin*/
    margin: 0px;
}

.w, .w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9, .w10 {
    vertical-align: top;
}

.w {
    width: 100%;
}

.w1 {
    width: 98.5%;
    min-width: 275px;
}

.w2 {
    width: 45.3%; /*48.4*/
    min-width: 250px;
}

.w3 {
    width: 33.1%;
    min-width: 225px;
}

.w3-2 {
    width: 63.4%;
    min-width: 225px;
}


.w4 {
    width: 23.3%;
    min-width: 200px;
}

.w5 {
    width: 18.3%;
    min-width: 175px;
}

.w5-2 {
    width: 36.6%;
    min-width: 150px;
}

.w5-3 {
    width: 61.9%;
    min-width: 150px;
}

.w5-4 {
    width: 80.2%;
    min-width: 150px;
}

.w6 {
    width: 15.5%;
    min-width: 150px;
}

.w6-2 {
    width: 33.75%;
    min-width: 150px;
}

.w6-3 {
    width: 49.25%;
    min-width: 150px;
}

.w6-4 {
    width: 64.75%;
    min-width: 150px;
}

.w6-5 {
    width: 83.0%;
    min-width: 150px;
}


.w7 {
    width: 12.8%;
    min-width: 125px;
}

.w8 {
    width: 11.0%;
    min-width: 100px;
}

.w9 {
    width: 9.6%;
    min-width: 75px;
}

.w10 {
    width: 8.5%;
    min-width: 65px;
}

.w10 {
    width: 8.5%;
    min-width: 65px;
}

.w10-2 {
    width: 8.5%;
    min-width: 65px;
}

.w10-3 {
    width: 8.5%;
    min-width: 65px;
}

.w10-4 {
    width: 8.5%;
    min-width: 65px;
}

.w10-5 {
    width: 8.5%;
    min-width: 65px;
}

.w10-6 {
    width: 8.5%;
    min-width: 65px;
}

.w10-7 {
    width: 8.5%;
    min-width: 65px;
}

.w10-8 {
    width: 8.5%;
    min-width: 65px;
}

.w10-9 {
    width: 90.5%;
    min-width: 65px;
}
