body {
    background-color: #fafafa;
}

.Card {
    box-shadow: 5px 5px 5px rgba(200, 200, 200, .3);
    background-color: white;
    border: rgba(200,200,200, 1);
}

.CardNoShadow {
    background-color: white;
    border: rgba(200,200,200, 1);
}


/*header menu layouts*/
._HeaderMenuContainer, ._FooterMenuContainer {
    position: relative;
    text-align: center;
    background-color: rgba(174,174,174,1);
    /*color: green;*/
    font-weight: bolder;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    /*display:inline-block;*/
    z-index: 1;
}

._HeaderMenuContainer *, ._FooterMenuContainer * {
    padding: 0px;
    margin: 0px;
}

._HeaderMenuContainer {
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    font-size: 1.25em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


._HeaderMenuContainer a:link, ._HeaderMenuContainer a:visited, ._FooterMenuContainer a:link, ._FooterMenuContainer a:visited{
    color: darkblue;
    height: 100%;
    width: 100%;
    display:inline-block;
    text-decoration: none;
    
}

._HeaderMenuContainer a:hover, ._FooterMenuContainer a:hover{
    color: blue;
}


._HeaderMenu {
    /*padding: 0px;*/
    display: inline-block;
    position: relative;
}

    ._HeaderMenu > li {
        display: inline-block;
        vertical-align: top;
    }

    ._HeaderMenu li > ul {
        display: none;
    }
    
    ._HeaderMenu li:hover > ul {
        display: block;    
        z-index: 1;    
    }
    
    ._HeaderMenu ul {
        list-style: none;
        position: absolute;
        padding-left: 0px;
        margin:0px;
        left: 30px;  /*this number should equal the negative amount of the border size, to ensure the blocks line up*/
        /*top: 0em;  this number should be adjusted when the font size is changed*/
        background-color: rgba(200,200,200,1);
        /*background-color: red;*/
    }
    
        ._HeaderMenu ul > li {
            /*width: 100%;*/
            
            
        }

    ._HeaderMenu li:hover {
        background-color: rgba(0,0,200,.1);
    }

    ._HeaderMenu li {
        min-width: 150px;
        /*padding: 0px 0px;*/
        border: solid gray 1px;
        position: relative;
        padding: .5em 0px 0px 0px;
    }/**/

     ._HeaderMenu li ul>li:first-of-type{
         
         /*border-top-right-radius: 15px;*/
     }

     ._HeaderMenu li ul>li:last-of-type{
         
         /*border-bottom-right-radius: 15px;
         border-bottom-left-radius: 15px;*/
     }

/*footer menu layouts*/
._FooterMenuContainer{
    /*border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
}
._FooterMenu {
    display: inline-block;
    text-align: center;
}

    ._FooterMenu > li {
        display: inline-block;
        vertical-align: top;
        padding: 0px;
    }

    ._FooterMenu ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    ._FooterMenu li{        
        min-width: 150px;
    }

._masterBody{
    min-height: 400px;
}

._masterHeader{
    /*background-color: rgba(200, 0, 0, .1);*/
}

._masterFooter{
    /*background-color: rgba(0, 0, 200, .1);*/
    /*background-image: url('../Images/drawing.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}