.block {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    border: groove black 2px;
    color: white;
    font-weight: bolder;
    text-align: center;
    /*box-shadow: rgba(0,0,0,1) 50px, 50px initial;*/
}

.endPoint {
    background-color: red;
}

.validBlock {
    background-color: white;
}

.invalidBlock {
    background-color: black;
}

.validPath {
    background-color: rgba(0,0,255, .8);
    /*background-color: blue;*/
}


.validPathOverlay {
    background-color: rgba(0,0,255, .8);
    
}